<h1>Add new place</h1>

<%= form_for @place, :url =>places_path do |p| %>
      <%= render :partial => 'form', :locals => { :p => p } %>
      <%= p.submit "Add", :class => "btn btn-default"%>
      <%= link_to "Cancel", places_path , :class => "btn btn-default"%>
<% end %>


